body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #1f1f1f;
	font-size: 80%;
}
html {
    width: 100%;
}

header,
main,
footer {

	font-size: 1.6em;
}

header {
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 15px;
	padding: 1.875em 0;
}

header h1 {
    color: #d43900;
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
    text-align: left;
    padding: 1.625em 0.625em 0.625em 0.625em;
    font-size: 150%;
}

section {
    border-radius: 20px;
    background-color: #cfcfcf;
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 50px;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	/*display: inline-block; */
    list-style-type: none;
	margin-right: 1em;
	font-size: 1em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
    padding-top: 10px;
    padding-bottom: 10px;
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
}
